$font: "Jost";
$bold_font: "Jost-Bold";
$regular_font: "Jost-Regular";
$black_font: "Jost-Black";

.sidepanel {
  color: black;
  text-align: left;
  font-size: 32px;
  font-family: $regular_font;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 80px;
  position: fixed;
  left: 230px;
  z-index: 2;
  text-decoration: none;
}

.non-active {
  text-decoration: none;
  color: #000;
}

.active {
  color: #0c97f9;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .sidepanel {
    width: 1200px;
    height: 50px;
    color: black;
    left: -0px;
    font-size: 32px;
    font-family: $regular_font;
    display: flex;
    flex-direction: row;
    gap: 60px;
    margin-top: 0px;
    align-items: center;
    justify-content: center;
    z-index: 2;
    text-decoration: none;

    // Для прокрутки сайдбара
    position: fixed;
    background-color: rgba($color: #fff, $alpha: 0.1);
  }
}
